.container{
    display: flex;
    width: 100%;
    height: 84vh;
}

.flexItemOne{
    background-image: url("./images/person looking at phone.jpg");
    background-size: cover;
    background-position: center;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexItemTwo{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jackDelivered, .jackApp, .deliveryPartnerTitle{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.2rem;
    font-weight: 900;
    text-align: center;
}
.jackApp{
    padding: 1.5rem;
    font-size: 1.5rem;
}
.deliveryPartnerTitle{
    font-size: 2.0rem;
    padding: 1.2rem;
}

.delivery{
    background-image: url("./images/deliveryImage.png");
    background-size: cover;
    background-position: center;
    flex-basis: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.blackButtons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    padding: 1.5rem;
}
.button{
    object-fit: contain;
    width: 150px;
    cursor: pointer;
}


.deliveryPartner{
    background-color: red;
    flex-basis: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deliveryApps{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-content: center;
    row-gap: 20px;
    width: 700px;
}

.appImages{
    display: block;
    margin: auto;
    object-fit: contain;
    background-color: white;
    width: 300px;
    cursor: pointer;

}

@media (max-width: 1050px){
    .container{
        flex-direction: column;
        height: 150vh;
    }

    .flexItemOne{
       flex-basis: 30%
    }

    .flexItemTwo{
        flex-basis: 70%;
    }

    .deliveryApps{
        width: 500px;
    }

    .appImages{
        width: 170px;
    }
}
